[Desktop Entry]
Encoding=UTF-8
Name=High Frontier
Icon=/usr/share/games/highfrontier/data/images/window_icon.png
Comment=Earth simulation
Exec=/usr/games/highfrontier
Terminal=false
Type=Application
Categories=GNOME;Game
StartupNotify=false
